* {
	margin: 0;
	padding: 0;
}

body {
	background: #f1f2f7;
	font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

html,body {
	height: 100%;
}

ul,ol {
	list-style: none;
}

img {
	border: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

.hide {
	display: none;
}

.pointer {
	cursor: pointer;
}

.left {
	float: left;
}

.right {
	float: right;
}